<div class="container">
  <h2>Edit the post </h2>
  <%= render 'shared/form' %>
</div>

<% content_for(:js) do  %>
  <script > 
        $('#post_date').datepicker({
            uiLibrary: 'bootstrap4',
            format: "dd/mm/yyyy"
        });
  </script>

<% end %>
