<div class="container">
  <h2>Edit the post </h2>
  <%= simple_form_for @post, method: :patch  do |f| %>
    <%= f.input :date, as: :string, input_html: { value: Date.today.strftime("%d/%m/%Y") }  %>
    <%= f.input :rationale, as: :text %>
    <%= f.button :submit, "Save", class: 'btn-primary' %>
  <% end %>
</div>

<% content_for(:js) do  %>
  <script > 
        $('#post_date').datepicker({
            uiLibrary: 'bootstrap4',
            format: "dd/mm/yyyy"
        });
  </script>

<% end %>
